<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/Function_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

functions practice

In [2]:
def my_functions(dic):
  print("name:", dic['name'])
  print("age:", dic['age'])
dic = ({"name": 'RAJU', "age":36})
my_functions(dic)

name: RAJU
age: 36

In [12]:
def fun(name,age,birth,/) :
  print(name,age, birth)
fun("raj", 10, 35)

raj 10 35

In [20]:
from typing_extensions import ItemsView
def my_function(**kid):
  print("His last name is " + kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Tobias

In [21]:
def my_fun(greet,*names):
  for i in names:
    print(greet," ", i)
my_fun("hello",'RAJU','ROOPA','RANI')

hello   RAJU
hello   ROOPA
hello   RANI

In [22]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [26]:
x = lambda a,b,c:a**b+ c
a = int(input())
b = int(input())
c = int(input())
print(x(a,b,c))

2
4
6
22

In [27]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [28]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [ ]:
import re

txt = "The rain in Spain"

#Check if "Portugal" is in the string:

x = re.findall("Portugal", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")