<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/LISTLOOP04_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a for loop program to print each element of a list on a new line.
2.	Write a while loop program to print all items of a list using indexing.
3.	Write a for loop program to find the sum of all elements in a list.
4.	Write a while loop program to find the largest number in a list.
5.	Write a for loop program to print only even numbers from a list.
6.	Write a while loop program that creates a new list containing only odd numbers from the original list.
7.	Write a for loop program to count how many times a specific element appears in a list.
8.	Write a while loop program to reverse a list without using the reverse function.
9.	Write a for loop program to print the index and value of each element.
10.	Write a while loop program to copy all elements of a list into a new list.
11.	Write a for loop program to print elements greater than a given number.
12.	Write a while loop program that stops when it encounters the number 0 in a list.
13.	Write a for loop program that multiplies each element by 3 and prints the updated values.
14.	Write a while loop program to count how many integers in the list are divisible by 5.
15.	Write a for loop program to separate elements into two new lists: one with even numbers and one with odd numbers.

In [1]:
#1.	Write a for loop program to print each element of a list on a new line.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
#lst2 =['22','12','56','34','78','45','37']
for i in lst:
  print(i)

apple
banana
vihara
tech
best
one
hyd

In [6]:
#2.	Write a while loop program to print all items of a list using indexing.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
x = len(lst)-1
i = 0
while i<=x:
  print(lst[i], end=" , ")
  i +=1

apple , banana , vihara , tech , best , one , hyd ,

In [10]:
#3.	Write a for loop program to find the sum of all elements in a list.
lst =['22','12','56','34','78','45','37']
x = len(lst)
y =  0
for i in range(0,x):
   y += int(lst[i])
print(y)

284

In [20]:
#4.	Write a while loop program to find the largest number in a list.
lst =['22','12','56','34','78','45','37']
x = len(lst)-1
y =  0
i = 0
while i<=x:
 if int(lst[i])> y:
   y = int(lst[i])
 i += 1
print(y)

78

In [23]:
#5.	Write a for loop program to print only even numbers from a list
lst =['22','12','56','34','78','45','37']
for i in lst:
  if int(i)%2==0:
    print(i, end=",")

22,12,56,34,78,

In [24]:
#6.	Write a while loop program that creates a new list containing only odd numbers from the original list.
lst =['22','12','56','34','78','45','37']
x = len(lst)-1
y = []
i = 0
while i<=x:
 if int(lst[i])%2!=0:
   y.append(int(lst[i]))
 i += 1
print(y)

[45, 37]

In [27]:
#7.	Write a for loop program to count how many times a specific element appears in a list.
lst =['22','34','12','56','34','78','34','45','37','78','12','22']
se  = input()
count = 0
for i in lst:
  if i==se:
    count +=1
print(count)

34
3

In [28]:
#8.	Write a while loop program to reverse a list without using the reverse function.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
x = len(lst)-1
i = x
while i>=0:
  print(lst[i], end=" , ")
  i -=1

hyd , one , best , tech , vihara , banana , apple ,

In [30]:
#9.	Write a for loop program to print the index and value of each element.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
x = len(lst)
for i in range(0,x):
  print(i, " ",lst[i])

0   apple
1   banana
2   vihara
3   tech
4   best
5   one
6   hyd

In [31]:
#10.	Write a while loop program to copy all elements of a list into a new list.
lst =['22','12','56','34','78','45','37']
x = len(lst)-1
new_list= []
i = 0
while i<=x:
  new_list.append(int(lst[i]))
  i += 1
print(new_list)

[22, 12, 56, 34, 78, 45, 37]

In [33]:
#11.	Write a for loop program to print elements greater than a given number.
lst =['22','34','12','56','34','78','34','45','37','78','12','22']
gn = int(input())
for i in lst:
  if int(i)>gn:
    print(i, end=" ")

32
34 56 34 78 34 45 37 78

In [35]:
#12.	Write a while loop program that stops when it encounters the number 0 in a list.
lst =['22','12','56','34','78','0','45','37']
x = len(lst)-1
i = 0
while i<=x:
      if (int(lst[i]))==0:
        break
      print(int(lst[i]), end=" ")
      i+= 1

22 12 56 34 78

In [38]:
#13.	Write a for loop program that multiplies each element by 3 and prints the updated values.
lst =['22','34','12','56','34','78','34','45','37','78','12','22']
gn = 3
for i in lst:
  x = int(i) * gn
  print(x, end=" ")

66 102 36 168 102 234 102 135 111 234 36 66

In [39]:
#14.	Write a while loop program to count how many integers in the list are divisible by 5.
lst =['22','12','55','34','75','45','37']
x = len(lst)-1
count = 0
i = 0
while i<=x:
 if int(lst[i])%5==0:
   count +=1
 i += 1
print(count)

3

In [42]:
#15.	Write a for loop program to separate elements into two new lists: one with even numbers and one with odd numbers.
lst =['22','34','13','55','34','77','34','45','37','78','12','22']
even_num = []
odd_num  = []
for i in lst:
  if int(i)%2==0:
    even_num.append(int(i))
  else:
    odd_num.append(int(i))
print(f"even num list:{even_num}")
print(f"odd num list:{odd_num}")

even num list:[22, 34, 34, 34, 78, 12, 22]
odd num list:[13, 55, 77, 45, 37]