<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/LIST04_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Access the 3rd element of a list.
2.	Print the last element without using negative index.
3.	Slice a list to get first three items.
4.	Slice to get every second element.
5.	Reverse a list using slicing.
6.	Create a shallow copy of a list.
7.	Find length of a list.
8.	Find max value in a list.
9.	Find min value in a list.
10.	Remove the last element from a list.
11.	Add an item to end of list.
12.	Insert element at index 1.
13.	Convert string to list of characters.
14.	Convert string "a b c" to ['a','b','c'].
15.	Concatenate two lists.
16.	Check if value exists in list.
17.	Create a list from 1-5 using list constructor.
18.	Remove an item by value.
19.	Clear all elements of a list.
20.	Sort a list without modifying original list.

In [4]:
#1.	Access the 3rd element of a list.
lst = list(input())
print(lst[2])

123456
3

In [6]:
#2.	Print the last element without using negative index.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst.reverse()
print(lst[0])

hyd

In [8]:
#3.	Slice a list to get first three items.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]

print(lst[0:3])

['apple', 'banana', 'vihara']

In [9]:
#4.	Slice to get every second element.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
print(lst[: : 2])

['apple', 'vihara', 'best', 'hyd']

In [10]:
#5.	Reverse a list using slicing.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
print(lst[: : -1])

['hyd', 'one', 'best', 'tech', 'vihara', 'banana', 'apple']

In [11]:
#6.	Create a shallow copy of a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2 = lst.copy()
print(lst2)

['apple', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd']

In [12]:
#7.	Find length of a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
print(len(lst))

7

In [14]:
#8.	Find max value in a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2 =['22','12','56','34','78','45','37']
print(max(lst))
print(max(lst2))

vihara
78

In [15]:
#9.	Find min value in a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2 =['22','12','56','34','78','45','37']
print(min(lst))
print(min(lst2))

apple
12

In [16]:
#10.	Remove the last element from a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2 =['22','12','56','34','78','45','37']
lst.pop()
lst2.pop()
print(lst)
print(lst2)

['apple', 'banana', 'vihara', 'tech', 'best', 'one']
['22', '12', '56', '34', '78', '45']

In [17]:
#11.	Add an item to end of list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst.append("institute")
print(lst)

['apple', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd', 'institute']

In [18]:
#12.	Insert element at index 1.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst.insert(1,"institute")
print(lst)

['apple', 'institute', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd']

In [19]:
#13.	Convert string to list of characters.
string = input()
x = list(string)
print(x)

VIHARA
['V', 'I', 'H', 'A', 'R', 'A']

In [21]:
#14.	Convert string "a b c" to ['a','b','c'].
string = "a b c"
string = string.replace(" ","")
x = list(string)
print(x)

['a', 'b', 'c']

In [26]:
#15.	Concatenate two lists.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2 =['22','12','56','34','78','45','37']
lst3 = lst + lst2
lst.extend(lst2)
print(lst3)
print(lst)

['apple', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd', '22', '12', '56', '34', '78', '45', '37']
['apple', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd', '22', '12', '56', '34', '78', '45', '37']

In [34]:
#16.	Check if value exists in list.
lst2 =['22','12','56','34','78','45','37']
x = (input())
if x in lst2:
  print("EXIST")
else:
  print("NOT EXIST")

37
EXIST

In [36]:
#17.	Create a list from 1-5 using list constructor.
lst = list(input())
lst2 = list(range(1,6))
print(lst)
print(lst2)

12345
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [38]:
#18.	Remove an item by value.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst.remove("hyd")
print(lst)

['apple', 'banana', 'vihara', 'tech', 'best', 'one']

In [39]:
#19.	Clear all elements of a list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst.clear()
print(lst)

[]

In [43]:
#20.	Sort a list without modifying original list.
lst = ["apple","banana","vihara", "tech","best","one","hyd"]
lst2= list(lst)
print(lst)
print(sorted(lst2))

['apple', 'banana', 'vihara', 'tech', 'best', 'one', 'hyd']
['apple', 'banana', 'best', 'hyd', 'one', 'tech', 'vihara']