<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/LOOPSET05_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a for loop program to print each element of a set.
2.	Write a while loop program to iterate through a set by converting it to a list.
3.	Write a for loop program to count how many even numbers are in a set.
4.	Write a while loop program to find the largest element in a set.
5.	Write a for loop program to print all elements except a specific value from a set.
6.	Write a while loop program to copy all elements of a set into a new list.
7.	Write a for loop program to find the sum of all numbers in a set.
8.	Write a while loop program that stops iterating when a specific value is found in the set.
9.	Write a for loop program to print the type of each element in a mixed set.
10.	Write a while loop program to count the number of strings in a set.
11.	Write a for loop program to print only those set elements that are greater than a given number.
12.	Write a while loop program to print alternate elements after converting the set into a list.
13.	Write a for loop program to separate even and odd numbers from a set into two new sets.
14.	Write a while loop program to print elements of a set in reverse order after converting to a list.
15.	Write a for loop program to check how many elements in the set are divisible by 3.

In [1]:
#1.	Write a for loop program to print each element of a set.
s1 = {"vihara", "is", "best", "one",1,2,2,4,}
for i in s1:
  print(i, end=" ")

best 1 2 4 is vihara one

In [3]:
#2.	Write a while loop program to iterate through a set by converting it to a list.
s1 = {"vihara", "is", "best", "one",1,2,2,4,}
l1 = list(s1)
x = len(l1)-1
i = 0
while i <=x:
  print(l1[i], end=" ")
  i +=1

best 1 2 4 is vihara one

In [6]:
#3.	Write a for loop program to count how many even numbers are in a set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
count = 0
for i in s1:
  if int(i)%2==0:
    count +=1
print(s1)
print(f"even numbers in set s1: {count}")

{'22', '11', '66', '55', '33', '44'}
even numbers in set s1: 3

In [7]:
#4.	Write a while loop program to find the largest element in a set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
l1 = list(s1)
x =len(s1)-1
i = 0
b = 0
while i <=x:
  if int(l1[i])>b:
    b=int(l1[i])
  i +=1
print(f"laregest number is:{b}")

laregest number is:66

In [10]:
#5.	Write a for loop program to print all elements except a specific value from a set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
sv = input("enter specific value: ")
for i in s1:
  if i == sv:
    continue
  print(i, end=" ")

enter specific value: 22
11 66 55 33 44

In [12]:
#6.	Write a while loop program to copy all elements of a set into a new list.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
old_l1 = list(s1)
new_l2 = []
x =len(s1)-1
i = 0
while i <=x:
  new_l2.append(old_l1[i])
  i +=1
print(f"NEW LISTIS :{new_l2}")

NEW LISTIS :['22', '11', '66', '55', '33', '44']

In [14]:
#7.	Write a for loop program to find the sum of all numbers in a set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
sum = 0
for i in s1:
  sum += int(i)
print(s1)
print(f" sum of all numbers is:{sum}")

{'22', '11', '66', '55', '33', '44'}
 sum of all numbers is:231

In [17]:
#8.	Write a while loop program that stops iterating when a specific value is found in the set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
l1 = list(s1)
print(l1)
sv = input("enter specific value:")
x =len(s1)-1
i = 0
while i <=x:
  if l1[i]==sv:
    break
  print(l1[i], end=" ")
  i +=1

['22', '11', '66', '55', '33', '44']
enter specific value:66
22 11

In [19]:
#9.	Write a for loop program to print the type of each element in a mixed set.
s1 = {"vihara", True, False, 22.54,67.8 ,"is", "best", 1,4,0}
print(s1)
for i in s1:
  print(type(i))

{False, True, 'best', 67.8, 4, 'is', 22.54, 'vihara'}
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [21]:
#10.	Write a while loop program to count the number of strings in a set.
s1 = {"vihara", True, False, 22.54,67.8 ,"is", "best", 1,4,0}
l1 = list(s1)
print(l1)
x = len(l1)-1
i = 0
count=0
while i<=x:
  if type(l1[i])==str:
    count +=1
  i +=1
print(count)

[False, True, 'best', 67.8, 4, 'is', 22.54, 'vihara']
3

In [23]:
#11.	Write a for loop program to print only those set elements that are greater than a given number.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
sv = int(input("enter a number: "))
for i in s1:
  if int(i) > sv:
    print(i, end=" ")

enter a number: 22
66 55 33 44

In [25]:
#12.	Write a while loop program to print alternate elements after converting the set into a list.
s1 = {"vihara", True, False, 22.54,67.8 ,"is", "best", 1,4,0}
l1 = list(s1)
print(l1)
print("ALTERNATIVE ELEMENTS")
x = len(l1)-1
i = 0
while i<=x:
  if i%2==0:
    print(l1[i], end=" , ")
  i +=1

[False, True, 'best', 67.8, 4, 'is', 22.54, 'vihara']
ALTERNATIVE ELEMENTS
False , best , 4 , 22.54 ,

In [26]:
#13.	Write a for loop program to separate even and odd numbers from a set into two new sets.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55','23','34','46','15'}
l1 = []
l2 = []
for i in s1:
  if int(i)%2 == 0:
    l1.append(i)
  else:
    l2.append(i)
even_set = set(l1)
odd_set = set(l2)
print(f"EVEN NUMBER SET: {even_set}")
print(f"ODD NUMBER SET : {odd_set}")

EVEN NUMBER SET: {'22', '46', '34', '66', '44'}
ODD NUMBER SET : {'11', '33', '55', '15', '23'}

In [32]:
#14.	Write a while loop program to print elements of a set in reverse order after converting to a list.
s1 = {"vihara", True, False, 22.54,67.8 ,"is", "best", 1,4,0}
l1 = list(s1)
l2 = []
print("original list:", l1)
x = len(l1)-1
i = x
while i>=0:
  l2.append(l1[i])
  i -=1
print("reverse list :",l2)

original list: [False, True, 'best', 67.8, 4, 'is', 22.54, 'vihara']
reverse list : ['vihara', 22.54, 'is', 4, 67.8, 'best', True, False]

In [33]:
#15.	Write a for loop program to check how many elements in the set are divisible by 3.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55','23','34','46','15'}
count =0
for i in s1:
  if int(i)%3 == 0:
    count +=1
print(f"NUMBER DIVISIBLE BY 3 IN SET: {count}")

NUMBER DIVISIBLE BY 3 IN SET: 3