<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/LOOPTUPLES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a for loop program to print all elements of a tuple.
2.	Write a while loop program to print all elements of a tuple using indexes.
3.	Write a for loop program to count how many even numbers are present in a tuple.
4.	Write a while loop program to find the largest value in a tuple.
5.	Write a for loop program to print the index and value of each tuple element.
6.	Write a while loop program to reverse a tuple manually without using slicing.
7.	Write a for loop program to create a new tuple containing only odd numbers from an existing tuple.
8.	Write a while loop program that prints elements until a specific value is found, then stops.
9.	Write a for loop program to calculate the sum of all numbers inside a tuple.
10.	Write a while loop program to count how many times a particular element occurs in a tuple.
11.	Write a for loop program to find how many strings in a tuple have length greater than 5.
12.	Write a while loop program to print alternate elements of a tuple.
13.	Write a for loop program to separate elements of a tuple into two new tuples: one with even numbers and one with odd numbers.
14.	Write a while loop program to copy elements from one tuple to a new tuple.
15.	Write a for loop program to print only those tuple elements that are divisible by 3.

In [1]:
#1.	Write a for loop program to print all elements of a tuple.
t1 = ('vihara', 'is','best','instiute','in', 'hyd')
for i in t1:
  print(i)

vihara
is
best
instiute
in
hyd

In [10]:
#2.	Write a while loop program to print all elements of a tuple using indexes.
t1 = ('vihara', 'is','best','instiute','in', 'hyd')
x = len(t1)-1
i=0
while i<=x:
  print(t1[i], end=" ")
  i +=1

vihara is best instiute in hyd

In [5]:
#3.	Write a for loop program to count how many even numbers are present in a tuple.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
count= 0
for i in t1:
  if i%2==0:
    count +=1
print(f"total even no. in tuple is: {count}")

total even no. in tuple is: 6

In [7]:
#4.	Write a while loop program to find the largest value in a tuple.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
x = len(t1)-1
i = 0
l =0
while i<=x:
  if t1[i]>l:
    l=t1[i]
  i +=1
print("largest value in a tuple is:", l)

largest value in a tuple is: 76

In [9]:
#5.	Write a for loop program to print the index and value of each tuple element.
t1 = ('vihara', 'is','best','instiute','in', 'hyd')
for i in t1:
  print(t1.index(i), " ", i)

0   vihara
1   is
2   best
3   instiute
4   in
5   hyd

In [15]:
#6.	Write a while loop program to reverse a tuple manually without using slicing.
t1 = ('vihara', 'is','best','instiute','in', 'hyd')
x = len(t1)-1
i=x
while i>=0:
  print(t1[i], end=" ")
  i -=1

hyd in instiute best is vihara

In [16]:
#7.	Write a for loop program to create a new tuple containing only odd numbers from an existing tuple.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
l1 = []
count= 0
for i in t1:
  if i%2!=0:
    l1.append(i)
new_t2 =tuple(l1)
print(f" odd no. in new tuple is: {new_t2}")

 odd no. in new tuple is: (35, 29, 67, 23, 19)

In [27]:
#8.	Write a while loop program that prints elements until a specific value is found, then stops.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
sv = int(input())
x = len(t1)-1
i = 0

while i<=x:
  if t1[i]==sv:
    break
  print(t1[i], end =" ")
  i +=1

44
22 35 12 29 67

In [30]:
#9.	Write a for loop program to calculate the sum of all numbers inside a tuple.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
count =0
for i in t1:
  count += i
print(f"sum of all numbers inside a tuple : {count}")

sum of all numbers inside a tuple : 401

In [35]:
#10.	Write a while loop program to count how many times a particular element occurs in a tuple.
t1 = (22,35,12,29,67,44,67,19,76,67,18)
sv = int(input())
x = len(t1)-1
i = 0
count = 0
while i<=x:
  if t1[i]==sv:
    count +=1
  i +=1
print(count)

67
3

In [36]:
#11.	Write a for loop program to find how many strings in a tuple have length greater than 5.
t1 = ('vihara', 'is','best','instiute','in', 'hyderabad', 'and','also','bengalore')
count = 0
for i in t1:
  if len(i)>5:
    count +=1
print(count)

4

In [39]:
#12.	Write a while loop program to print alternate elements of a tuple.
t1 = (22,35,12,29,67,44,67,19,76,67,18)
x = len(t1)-1
i = 0
while i<=x:
  if i%2==0:
    print(t1[i], end=" ")
  i +=1

22 12 67 67 76 18

In [41]:
#13.	Write a for loop program to separate elements of a tuple into two new tuples: one with even numbers and one with odd numbers.
t1 = (22,35,12,29,67,44,23,19,76,56,18)
even = []
odd  = []
count= 0
for i in t1:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
new_even =tuple(even)
new_odd = tuple(odd)
print(f" new even tuple is: {new_even}")
print(f" new odd  tuple is: {new_odd}")

 new even tuple is: (22, 12, 44, 76, 56, 18)
 new odd  tuple is: (35, 29, 67, 23, 19)

In [43]:
#14.	Write a while loop program to copy elements from one tuple to a new tuple.
t1 = (22,35,12,29,67,44,67,19,76,67,18)
l1 = []
x = len(t1)-1
i = 0
count = 0
while i<=x:
  l1.append(t1[i])
  i +=1
new_t2 = tuple(l1)
print(f"new tuple elements are:{new_t2}")
type(new_t2)

new tuple elements are:(22, 35, 12, 29, 67, 44, 67, 19, 76, 67, 18)

tuple

In [45]:
#15.Write a for loop program to print only those tuple elements that are divisible by 3
t1 = (22,36,12,29,66,44,24,19,76,56,18)
for i in t1:
  if i%3==0:
    print(i, end=" ")

36 12 66 24 18