<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/SET_BASIC05_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Create a set with five numbers.
2.	Add an element to a set.
3.	Remove an element from a set if present.
4.	Convert a list into a set.
5.	Check if an element exists in a set.
6.	Find union of two sets.
7.	Find intersection of two sets.
8.	Find difference between two sets.
9.	Find symmetric difference between two sets.
10.	Remove all elements from a set.
11.	Create a frozen set from a list.
12.	Convert a string into a set of characters.
13.	Check if one set is subset of another.
14.	Check if one set is superset of another.
15.	Check if two sets are disjoint.
16.	Find length of a set.
17.	Pop an element from set and display result.
18.	Copy a set into another set variable.
19.	Create a set from a tuple.
20.	Create two sets and show elements unique to each (symmetric diff).

In [4]:
#1.	Create a set with five numbers.
s1 = set(input(" enter 5 number: "))
print(s1)
type(s1)

 enter 5 number: 12345
{'3', '5', '4', '1', '2'}

set

In [5]:
#2.	Add an element to a set.
s1 = {'33', '55', '44', '11', '22'}
s1.add(66)
print(s1)

{'44', 66, '11', '22', '55', '33'}

In [11]:
#3.	Remove an element from a set if present.
s1 = {'44', '66', '11', '22', '55', '33'}
s1.remove("33")
print(s1)

{'66', '44', '11', '22', '55'}

In [14]:
#4.	Convert a list into a set.
l1 = ['44', '66', '11', '22', '55', '33','44','11','55']
print(type(l1))
s1 = set(l1)
print(s1)
print(type(s1))

<class 'list'>
{'66', '22', '55', '44', '33', '11'}
<class 'set'>

In [16]:
#5.	Check if an element exists in a set.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
x = input()
if x in s1:
  print("EXIST")
else:
  print("NOT EXIST")
print(s1)

66
EXIST
{'66', '44', '11', '22', '55', '33'}

In [18]:
#6.	Find union of two sets.
s1 = {'44', '66', '11', '22', '55', '33','44','11','55'}
s2 = {'23', 34 ,'44', 'A','B', 'C'}
s3 = s1.union(s2)
s4 = s1|s2
print(s3)
print(s4)

{'66', 34, 'B', '22', '55', '44', '33', '23', 'A', '11', 'C'}
{'66', 34, 'B', '22', '55', '44', '33', '23', 'A', '11', 'C'}

In [20]:
#7.	Find intersection of two sets.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'23', '33' ,'44', 'A','B', 'C'}
s3 = s1.intersection(s2)
s4 = s1&s2
print(s3)
print(s4)

{'44', '33', 'A'}
{'44', '33', 'A'}

In [21]:
#8.	Find difference between two sets.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'23', '33' ,'44', 'A','B', 'C'}
s3 = s1.difference(s2)
s4 = s1-s2
print(s3)
print(s4)

{'66', '22', '55', '11'}
{'66', '22', '55', '11'}

In [22]:
#9.	Find symmetric difference between two sets.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'23', '33' ,'44', 'A','B', 'C'}
s3 = s1.symmetric_difference(s2)
s4 = s1^s2
print(s3)
print(s4)

{'66', 'B', '22', '55', '23', '11', 'C'}
{'66', 'B', '22', '55', '23', '11', 'C'}

In [23]:
#10.	Remove all elements from a set.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s1.clear()
print(s1)

set()

In [24]:
#11.	Create a frozen set from a list.
l1 = ['44', '66', '11', '22', '55', '33','44','11','55']
print(type(l1))
s1 = frozenset(l1)
print(s1)
print(type(s1))

<class 'list'>
frozenset({'66', '22', '55', '44', '33', '11'})
<class 'frozenset'>

In [26]:
#12.	Convert a string into a set of characters.
string = str(input())
s1 = set(string)
print(type(string))
print(s1)
print(type(s1))

VIHARA IS BEST
<class 'str'>
{'V', 'E', 'R', 'B', ' ', 'T', 'S', 'A', 'I', 'H'}
<class 'set'>

In [28]:
#13.	Check if one set is subset of another.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'22', '33' ,'44', 'A','B', 'C'}
s3 = {'33','44','11'}
x = s2.issubset(s1)
y = s3.issubset(s1)
print(x)
print(y)

False
True

In [33]:
#14.	Check if one set is superset of another.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'22', '33' ,'44', 'A','B', 'C'}
s3 = {'33','44','11'}
x = s1.issuperset(s2)
y = s1.issuperset(s3)
print(x)
print(y)

False
True

In [36]:
#15.	Check if two sets are disjoint.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'22', '33' ,'44', 'A','B', 'C'}
s3 = {'34','45','12'}
x = s2.isdisjoint(s1)
y = s3.isdisjoint(s1)
print(x)
print(y)

False
True

In [40]:
#16.	Find length of a set.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
print(s1)
print(f"length of set is:{len(s1)}")

{'66', '44', 'A', '11', '22', '55', '33'}
length of set is:7

In [46]:
#17.	Pop an element from set and display result.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
print(f"set before pop:{s1}")
x=s1.pop()
print(f"set after pop:{s1}")
print(f"removed element:{x}")

set before pop:{'66', '44', 'A', '11', '22', '55', '33'}
set after pop:{'44', 'A', '11', '22', '55', '33'}
removed element:66

In [49]:
#18.	Copy a set into another set variable.
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = s1.copy()
print("original set: s1", s1)
print("copied set: s2", s2)

original set: s1 {'66', '44', 'A', '11', '22', '55', '33'}
copied set: s2 {'66', '44', 'A', '11', '22', '55', '33'}

In [50]:
#19.	Create a set from a tuple.
t1 = ('44', '66', '11', '22', '55','A' ,'33','44','11','55')
print(type(t1))
s1 = set(t1)
print(s1)
print(type(s1))

<class 'tuple'>
{'66', '22', '55', '44', '33', 'A', '11'}
<class 'set'>

In [53]:
#20.	Create two sets and show elements unique to each (symmetric diff).
s1 = {'44', '66', '11', '22', '55','A' ,'33','44','11','55'}
s2 = {'23', '34' ,'45', 'g','B', 'C'}
s3 = s1.symmetric_difference(s2)
print(s3)

{'g', '34', '44', '45', '23', '66', 'B', '22', '55', '33', 'A', '11', 'C'}