<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/TUPLEBASIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.	Create an empty tuple.
2.	Create a tuple with 5 integers.
3.	Access 3rd element of a tuple.
4.	Access last element without negative index.
5.	Slice first three elements.
6.	Slice every alternate value.
7.	Reverse a tuple using slicing.
8.	Concatenate two tuples.
9.	Replicate tuple (1,2) twice.
10.	Find length of a tuple.
11.	Convert a list to a tuple.
12.	Convert a string "python" to tuple of characters.
13.	Check if value exists in tuple.
14.	Find maximum element in tuple.
15.	Find minimum element in tuple.
16.	Count how many times 2 appears in (1,2,2,3).
17.	Find index of an element.
18.	Perform tuple packing.
19.	Perform tuple unpacking into variables.
20.	Convert tuple to string without loops.

In [1]:
#1.	Create an empty tuple.
ttuple = ()
print(ttuple)

()

In [2]:
#2.	Create a tuple with 5 integers.
ttuple = (1,2,3,4,5)
print(ttuple)

(1, 2, 3, 4, 5)

In [3]:
#3.	Access 3rd element of a tuple.
ttuple = (1,2,3,4,5)
print(ttuple[2])

3

In [6]:
#4.	Access last element without negative index.
ttuple = (1,2,3,4,5)
x = len(ttuple)-1
print(ttuple[x])

5

In [7]:
#5.	Slice first three elements.
ttuple = (1,2,3,4,5)
print(ttuple[:3])

(1, 2, 3)

In [8]:
#6.	Slice every alternate value.
ttuple = (11,22,13,46,15,12,34,56,23,45,)
print(ttuple[: : 2])

(11, 13, 15, 34, 23)

In [9]:
#7.	Reverse a tuple using slicing.
ttuple = (11,22,13,46,15,12,34,56,23,45,)
print(ttuple[: : -1])

(45, 23, 56, 34, 12, 15, 46, 13, 22, 11)

In [10]:
#8.	Concatenate two tuples.
t1= (11,22,13,46,15,12,34,56,23,45,)
t2 = ('a','b','c')
t3 = t1 + t2
print(t3)

(11, 22, 13, 46, 15, 12, 34, 56, 23, 45, 'a', 'b', 'c')

In [11]:
#9.	Replicate tuple (1,2) twice.
t =(1,2)
t * 2

(1, 2, 1, 2)

In [12]:
#10.	Find length of a tuple.
t1= (11,22,13,46,15,12,34,56,23,45,)
print(len(t1))

10

In [14]:
#11.	Convert a list to a tuple.
l1= [11,22,13,46,15,12,34,56,23,45,]
t1 = tuple(l1)
print(type(t1))
print(t1)

<class 'tuple'>
(11, 22, 13, 46, 15, 12, 34, 56, 23, 45)

In [15]:
#12.	Convert a string "python" to tuple of characters.
st1 = "python"
t1 = tuple(st1)
print(t1)

('p', 'y', 't', 'h', 'o', 'n')

In [17]:
#13.	Check if value exists in tuple.
t1= (11,22,13,46,15,12,34,56,23,45,)
v = int(input("enter a value"))
if v in t1:
  print("EXIST")
else:
  print("NOT EXIST")

enter a value29
NOT EXIST

In [18]:
#14.	Find maximum element in tuple.
t1= (11,22,13,46,15,12,34,56,23,45,)
print(max(t1))

56

In [19]:
#15.	Find minimum element in tuple.
t1= (11,22,13,46,15,12,34,56,23,45,)
print(min(t1))

11

In [23]:
#16.	Count how many times 2 appears in (1,2,2,3).
t1= (1,2,2,3,2,4,1,6,7,3)
t1.count(2)

3

In [24]:
#17.	Find index of an element.
t1= (11,22,13,46,15,12,34,56,23,45,)
v = int(input("enter a value"))
if v in t1:
  print(t1.index(v))
else:
  ("value not exist")

enter a value46
3

In [25]:
#18.	Perform tuple packing.
t1 = tuple(input())
print(t1)

1vihara245'true'
('1', 'v', 'i', 'h', 'a', 'r', 'a', '2', '4', '5', "'", 't', 'r', 'u', 'e', "'")

In [27]:
#t1= (11,22,13,46,15,12,34,56,23,45,)
t1= (11,22,13,46,15,12,34,56,23,45,)
(a,b,*c,d,e,f) = t1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

11
22
[13, 46, 15, 12, 34]
56
23
45

In [29]:
#20.	Convert tuple to string without loops.
t1= (11,22,13,46,15,12,34,56,23,45)
st = str(t1)
print(st)
print(type(st))

(11, 22, 13, 46, 15, 12, 34, 56, 23, 45)
<class 'str'>