<a href="https://colab.research.google.com/github/VENKATRAJU153/PYTHON-BASICS/blob/main/typeconvertions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# INT TO FLOAT CONVERTION
a=25
print(a)
print(type(a))
print(id(a))
b=float(a)
print(b)
print(type(b))
print(id(b))

25
<class 'int'>
10758504
25.0
<class 'float'>
135886794422064

In [10]:
# INT TO STRING CONVERTION
k=880
print(k)
print(type(k))
print(id(k))
l=str(k)
print(l)
print(type(l))
print(id(l))

880
<class 'int'>
135886791995280
880
<class 'str'>
135886790721328

In [11]:
# FLOAT TO INT CONVERTION
s=44.65
print(s)
print(type(s))
print(id(s))
m=int(s)
print(m)
print(type(m))
print(id(m))

44.65
<class 'float'>
135886794421424
44
<class 'int'>
10759112

In [12]:
# FLOAT TO STRING CONVERTION
p=987.222
print(p)
print(type(p))
print(id(p))
q=str(p)
print(q)
print(type(q))
print(id(q))

987.222
<class 'float'>
135886794423344
987.222
<class 'str'>
135886792370864

In [13]:
# STRING TO INT CONVERTION
v=('2342')
print(v)
print(type(s))
print(id(s))
w=int(v)
print(w)
print(type(w))
print(id(w))

2342
<class 'float'>
135886794421424
2342
<class 'int'>
135886791993040

In [14]:
# STRING TO FLOAT CONVERTION
rs=('98.982')
print(rs)
print(type(rs))
print(id(rs))
pl=float(rs)
print(pl)
print(type(pl))
print(id(pl))

98.982
<class 'str'>
135886803343536
98.982
<class 'float'>
135886794423312

In [15]:
x = 1.1
y = 1.5
z = -3.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [16]:
x = 54e5
y = 21E5
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [17]:
x = 6+8j
y = 9j
z = -3j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>